<header class="page-header">
  <h1>About</h1>
</header>

<div>
  <p>Our missing is to make the most exotic home plans assessible with just a click! Please browse our catalog to see which plan fit your personality.</p>
</div>